---
// src/pages/index.astro
import Header from "../components/header.astro";
import Hero from "../components/hero.astro";
import Services from "../components/services.astro";
import Gallery from "../components/gallery.astro";
import About from "../components/about.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
  <div class="min-h-screen">
    <Header />
    <Hero />
    <Services />
    <Gallery />
    <About />
    <Footer />
  </div>
</Layout>
