---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import SiteLayout from "@cmp/sitelay.astro";

import Header from "@sec/Header_.astro";

const animationPath = "/icons/icon.json"; // si está en /public/icons/icon.json
---

<Layout>
  <Header />
  <Welcome />

  <p>holla</p>
</Layout>
