---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
import SiteLayout from "@cmp/sitelay.astro";
---

<Layout>
  <Welcome />

  <p>holla</p>

  <SiteLayout title="Clerk + Astro">
    <p>Sign in to try Clerk out!</p>
  </SiteLayout>
</Layout>
