---
// SVG
import background from "@ast/background.avif";

// Estilos
import "@sty/styles__.css";

// import Welcome from "@cmp/Welcome.astro";

// componentes
import Layout from "@lyt/Layout.astro";
import Header from "@cmp/section/header.astro";
import Carrusel from "@cmp/section/carrusel.astro";
import Hero from "@cmp/section/hero.astro";
import Services from "@cmp/section/services.astro";
import Gallery from "@cmp/section/gallery.astro";
---

<Layout>
  <img id="background" src={background.src} alt="" fetchpriority="high" />

  <Header />
  <Carrusel
    text="Bienvenido a mi sitio web"
    speed="40s"
    backgroundColor="bg-[#b56576]"
    textColor="text-white"
    separator=" 🔥 "
  />
  <Hero />

  <div class="m-auto mt-6 mb-5 bg-[#e26d5c] w-[700px] h-[2px]"></div>

  <Services />
  <div class="m-auto mt-6 mb-5 bg-[#e26d5c] w-[700px] h-[2px]"></div>

  <Gallery />
</Layout>
