.app {
  display: grid;
  text-align: center;
  border: #282c34 2px solid;
  border-radius: 10px;
  padding: 10px;
  height:200px;
  justify-content: center;
}

button {
  background-color: aliceblue;
  padding: 10px;
  border: 2px dashed #3161c2;
  border-radius: 10px;
}

button:hover {
  background-color: #a7bae0;
  color: aliceblue;
  border-style: solid;
  transition: 450ms;
  cursor: none;
}